<!DOCTYPE html>
<html>
  <head>
    <title>LARAe.talktalk</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>



      <script type="application/javascript">



          var _socket = io.connect("http://localhost:3000");







          _socket.emit("registerStatusListener");
          _socket.on("newSessionStarted", function(msg) {
              $( "span" ).each(function() {
                  $( this ).removeClass( "presenting" );
              });
              $("#group"+msg.presenter).removeClass( "selected" );
              $("#group"+msg.presenter).addClass("presenting");
          });
          _socket.on("statusUpdate", function(participants){
              if(participants == undefined)
                  return;
              $( "span" ).each(function() {
                  $( this ).removeClass( "selected" );
              });
              for(var i=0;i<participants.length;i++) {
                  if(participants[i])
                      $("#group"+i).addClass("selected");
              }



          });

          function like(number){
              _socket.emit("like", number);
          }

      </script>
  </head>
  <body>
    <span id="group0">The InfoVisioneers</span><a id="like0" href="#" onclick="javascript:like(0)">Like feedback</a><br/>
    <span id="group1">LVM</span><a id="like1" href="#" onclick="javascript:like(1)">Like feedback</a><br/>
    <span id="group2">Invisual</span><a id="like2" href="#" onclick="javascript:like(2)">Like feedback</a><br/>
    <span id="group3">Data Chartists</span><a id="like3" href="#" onclick="javascript:like(3)">Like feedback</a><br/>
    <span id="group4">Prof/TA</span><a id="like4" href="#" onclick="javascript:like(4)">Like feedback</a><br/>

  </body>
</html>
